.super-mario {
    width: 200px;
    position: absolute;
    top: 100px;
    left: 20px;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 80px;
}

.baloon {
    width: 270px;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 1;
}

.speach {
    font-size: 25px;
    position: absolute;
    top: 135px;
    left: 210px;
    z-index: 3;
}

.bowser {
    width: 200px;
    position: absolute;
    top: 220px;
    left: 445px;
    /*z-index: 2;*/
}
